!!!
html
  head
    title The Revolutionary CSS 3
    link(href='http://fonts.googleapis.com/css?family=Telex', rel='stylesheet')
    link(href='style.css', rel='stylesheet')

  body
    #impress

      #title.step(
        data-z=40000
        data-rotate=60
        data-rotate-x=-45
        data-rotate-y=45
        data-scale=100
      )
        h1
          | <span class="article">The</span><br />
          | <span class="adj">Revolutionary</span><br />
          | <span class="noun">CSS 3</span>
        p.subtitle A non-technical intro to CSS level 3
        // p.subtitle Web development made infinitely easier.

      #impact.step(
        data-x=-600
        data-y=0
        data-rotate=90
        data-scale=0.25
      )
        p Web development has never been so simple and flexible.

      #impact-old.step(
        data-x=-810
        data-y=0
        data-rotate=90
        data-scale=0.25
      )
        p.visual
          | <em>Stunning visual effect</em><br />
          | with <span class="problem">large, non-flexible images</span>
        p.animation
          | <em>Fancy animation</em><br />
          | with <span class="problem">complex, error-prone JavaScript</span>

      #how.step(
        data-x=0
        data-y=0
        data-z=-100
        data-scale=8
      )
        h1 How?

      #border-radius.step.property(
        data-x=-2800,
        data-y=1200
        data-scale=0.5
      )
        .title Rounded corners
        .content
          .doraemon
            .face
              .base-white
              .lefteye.eye.eye-left
                .leftblackeye.black-eye.black-left
              .righteye.eye.eye-right
                .rightblackeye.black-eye.black-right
              .nose
                .nose-line
              .mouth
              .whiskers.whi-right.whi-top
              .whiskers.whi-right.whi-mid
              .whiskers.whi-right.whi-bottom
              .whiskers.whi-left.whi-top
              .whiskers.whi-left.whi-mid
              .whiskers.whi-left.whi-bottom

      #shadows.step.property(
        data-x=-1988
        data-y=1200
        data-scale=0.5
      )
        .title Shadows
        .content
          .inset
            | Greetings,<br />
            | my name is shadow.

      #gradient.step.property(
        data-x=-1176
        data-y=1200
        data-scale=0.5
      )
        .title Gradient
        .content
          .apple-nav
          .radial

      #google-lofter.step(
        data-x=-770
        data-y=1500
        data-z=100
        data-scale=0.25
      )
        .google-box.box
          .title Google
          .content
            .google-button Compose
            .google-button Create
            .google-button Subscribe
        .lofter-box.box
          .title Lofter
          .content
            img(src='img/lofter.png')

      #opacity.step.property(
        data-x=-364
        data-y=1200
        data-scale=0.5
      )
        .title Opacity (&amp; transition)
        .content
          .renren-button
            .renren-button-icon
            .renren-button-text Download Album

      #opacity-image.step(
        data-x=42
        data-y=1500
        data-z=100
        data-scale=0.25
      )
        .image-wrapper
          img(src='img/heart.jpg')
          .caption heart.

      #reflect.step(
        data-x=448
        data-y=1200
        data-scale=0.5
      )
        .title Reflection
        .content
          .ibooks-wrapper
            img.ibooks(src='img/ibooks.jpg')

      #transform.step(
        data-x=1260
        data-y=1200
        data-scale=0.5
      )
        .title Transformation
        .content
          .tag Text overflow
          .tag Columns
          .tag Shadows
          .tag Text stroke
          .tag Rounded corners
          .tag Gradient
          .tag Opacity
          .tag Reflection
          .tag Transition
          .tag Transformation

      #animation.step(
        data-x=2072
        data-y=1200
        data-scale=0.5
      )
        .title Animation
        .content
          .spinner
            .spinner-dot
            .spinner-dot
            .spinner-dot
            .spinner-dot
            .spinner-dot
            .spinner-dot
            .spinner-dot
            .spinner-dot

      #end.step(
        data-x=2884
        data-y=2400
        data-z=900
        data-scale=0.5
        data-rotate-x=-60
        data-rotate-y=60
      )
        .css3-logo-wrapper
          img(src='img/css3-logo.png')
      // Credits
      // impress
      // font
      // patterns from 
      // a(href='http://subtlepatterns.com/') SubtlePatterns
      // Doraemon inspired by 
      // a(href='http://slides.html5rocks.com/#rounded-corners') HTML5 Rocks
      // CSS3 tags inspired by
      // a(href='http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/tagtastic-tag-cloud-with-css-transformations/') Luke Spoor


    // Start impress
    script(src='lib/impress.js')
    script
      impress().init();