!!!
html
  head
    title The Revolutionary CSS 3
    link(href='http://fonts.googleapis.com/css?family=Telex', rel='stylesheet')
    link(href='style.css', rel='stylesheet')
  body
    #impress

      #title.step(
        data-z=20000
        data-rotate=60
        data-rotate-x=-45
        data-rotate-y=45
        data-scale=100
      )

        h1
          | <span class="article">The</span><br />
          | <span class="adj">Revolutionary</span><br />
          | <span class="noun">CSS 3</span>
        p.subtitle Web development made infinitely easier.


      #impact.step(
        data-x=-810
        data-y=0
        data-rotate=90
        data-scale=0.25
      )

        p.visual 
          | <em>Stunning visual effect</em><br />
          | with <span class="problem">non-editable rasterized images</span>
        p.animation
          | <em>Fancy animation</em><br />
          | with <span class="problem">complex and error-prone JavaScript</span>


      #how.step(
        data-x=0
        data-y=0
        data-scale=8
      )
        
        h1 How?


      #border-radius.step.property(
        data-x=-2800,
        data-y=1200
        data-scale=0.5
      )
        .title Rounded corners
        .content
          .doraemon
            .face
              .base-white
              .lefteye.eye.eye-left
                .leftblackeye.black-eye.black-left
              .righteye.eye.eye-right
                .rightblackeye.black-eye.black-right
              .nose
                .nose-line
              .mouth
              .whiskers.whi-right.whi-top
              .whiskers.whi-right.whi-mid
              .whiskers.whi-right.whi-bottom
              .whiskers.whi-left.whi-top
              .whiskers.whi-left.whi-mid
              .whiskers.whi-left.whi-bottom

          // TODO iOS icon in CSS


      #gradient.step.property(
        data-x=-1988
        data-y=1200
        data-scale=0.5
      )

        .title Gradient
        .content
          .apple-nav
          // TODO radial gradient


      #shadows.step.property(
        data-x=-1176
        data-y=1200
        data-scale=0.5
      )

        .title Shadows
        .content
          .inset
            | Greetings,<br />
            | my name is shadow.


      #google-lofter.step(
        data-x=-770
        data-y=1500
        data-z=-100
        data-scale=0.25
        data-rotate-x=-30
      )

        .google-box.box
          .title Google
          .content
            .google-button Compose
            .google-button Create
            .google-button Subscribe
        .lofter-box.box
          .title Lofter
          .content
            // TODO


      #opacity.step.property(
        data-x=-364
        data-y=1200
        data-scale=0.5
      )

        .title Opacity
        .content
          .renren-button
            .wrapper
              .renren-button-icon
              .renren-button-text Download Album


      #opacity-image.step
        // image caption


      #reflect.step

        .title Reflect

      #border-image.step


      #transform.step
        // tag

      #animation.step
        // spinner


      #end.step
      // css3 logo
      // reference
        // impress
        // font
        // patterns from 
        // a(href='http://subtlepatterns.com/') SubtlePatterns
        // Doraemon inspired by 
        // a(href='http://slides.html5rocks.com/#rounded-corners') HTML5 Rocks


    // Start impress
    script(src='lib/impress.js')
    script
      impress().init();