*
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

transition()
  -webkit-transition arguments

border-radius(n)
  -webkit-border-radius n

transform()
  -webkit-transform arguments

box-orient()
  -webkit-box-orient arguments

box-flex()
  -webkit-box-flex arguments

box-align()
  -webkit-box-align arguments

box-pack()
  -webkit-box-pack arguments

lightred = #e9463c
red = #f00
darkgrey = #555
lightblue = #3c96e9

body
  font-family Telex, sans-serif
  color darkgrey
  background-image url('ui/light_wool.png')

a
  color inherit
  text-decoration none
  transition 0.25s
  &:hover
    color red

.step
  position relative
  width 900px
  -webkit-box-sizing border-box
  font-size 48px
  line-height 1.5
  opacity .1
  transition opacity 0.5s

  &.active
    opacity 1

  & > .title
    font-size 60%
    width 30%
    margin-left 70%
    text-align right
    border-bottom 1px solid darkgrey
    margin-bottom 2em
    text-transform capitalize

#title
  text-align center
  h1
    border-top 3px solid lightred
    border-bottom 3px solid lightred
    padding 1em 0
    text-transform uppercase
    span
      display inline-block
      margin
    .article
      letter-spacing 285px
      margin-right -285px
    .adj
      letter-spacing 39px
      margin-right -39px
      font-size 50%
      color lightred
    .noun
      font-size 570%
      line-height 100%
  .subtitle
    font-size 50%
    margin-top 3em

#impact
  p
    text-decoration line-through
    margin 2em 0
    // text-align center
    font-size 75%
    em
      font-size 150%

  .problem
    color lightred

  .animation em

  .visual em
    display inline-block
    background-color darkgrey
    overflow hidden
    padding 12px 27px
    border-radius 21px
    border 12px solid #fff
    color #fff
    text-shadow 0 0 10px #fff, 0 0 20px #fff, 0 0 30px red, 0 0 40px red, 0 0 70px red, 0 0 80px red, 0 0 100px #ff00de, 0 0 150px red
    box-shadow 0 0 21px rgba(0,0,0,.25)

#how
  h1
    font-size 550%
    text-align center
    text-transform uppercase

doraemon-border()
  border darkgrey 3px solid

#border-radius
  .doraemon
    margin auto

    *
      -webkit-box-sizing border-box
      transition border-radius .25s ease-out

    .face
      position relative
      width 600px
      height 600px
      background lightblue
      doraemon-border()
      margin auto
      z-index 0
      &:hover
        border-radius 300px

      & > *
        position absolute

      .base-white
        doraemon-border()
        width 510px
        height 392px
        background #FFF
        z-index 1
        bottom 45px
        left 45px
      &:hover .base-white
        border-radius 300px

      .eye
        doraemon-border()
        width 144px
        height 165px
        top 90px
        z-index 20
        background #fff
      .eye-left
        left 154px
      .eye-right
        top 90px
        right 154px
      &:hover .eye
        border-radius 75px

      .black-eye
        position absolute
        width 30px
        height 30px
        background darkgrey
        bottom 45px
        z-index 21
      .black-left
        right 27px
      .black-right
        left 27px
      &:hover .black-eye
        border-radius 15px

      .nose
        width 66px
        height 66px
        doraemon-border()
        background lightred
        top 234px
        left 264px
        z-index 30
        .nose-line
          position absolute
          background darkgrey
          width 4px
          height 165px
          top 63px
          left 29px
          z-index 20
      &:hover .nose
        border-radius 33px

      .mouth
        width 420px
        height 900px
        border-bottom 4px solid darkgrey
        bottom 126px
        left 90px
        z-index 10
      &:hover .mouth
        border-radius 150px

      .whiskers
        background darkgrey
        height 2px
        width 111px
        z-index 20
      .whi-left
        left 117px
      .whi-right
        right 117px
      .whi-top
        bottom 318px
      .whi-mid
        bottom 279px
      .whi-bottom
        bottom 240px
      .whi-left.whi-top,
      .whi-right.whi-bottom
        transform rotate(10deg)
      .whi-left.whi-bottom,
      .whi-right.whi-top
        transform rotate(-10deg)

#gradient
  .apple-nav
    width 900px
    height 45px
    background-image -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5E5E5E), color-stop(0.51, #707070), to(gray))
    border-radius 12px

#shadows
  .inset
    -webkit-box-sizing border-box
    margin auto
    width 900px
    height 300px
    background-image url('ui/low_contrast_linen.png')
    box-shadow inset 0 24px 60px rgba(0,0,0,.75)
    color #222
    text-shadow 0 1px 0 #555
    padding 75px 225px

.google-button
    -webkit-user-select: none;
    margin 12px auto
    font-size 30px
    color white
    text-transform uppercase
    text-shadow 0 2px rgba(0, 0, 0, 0.25)
    border-radius 6px
    padding 12px
    width 300px
    display inline-block
    cursor default

#google-lofter
  & > .box
    float left
    width 50%
    text-align center

    .content
      display -webkit-box
      box-align center
      box-pack center
      box-orient horizontal
      height 600px

      .google-button
        background-image -webkit-linear-gradient(top,#dd4b39,#d14836)
        border 1px solid transparent
        &:hover
          background-image -webkit-linear-gradient(top,#dd4b39,#c53727)
          border 1px solid #b0281a
          box-shadow 0 3px 3px rgba(0,0,0,0.2)
        &:active
          background-image -webkit-linear-gradient(top,#dd4b39,#b0281a)
          border 1px solid #992a1b
          box-shadow inset 0 3px 6px rgba(0,0,0,0.3)

#opacity
  .renren-button
    width 390px
    height 60px
    margin 0 auto
    box-shadow 0 0 6px rgba(0, 0, 0, .25)
    border-radius 3px
    background-color #f7f7f7
    transition background-color .3s ease-in-out
    &:hover
      background-color #fafafa

    .wrapper
      opacity .5
      transition opacity .3s ease-in-out
      &:hover
        opacity 1
      & div
        float left

      .renren-button-icon
        width 60px
        height 60px
        background-repeat no-repeat
        background-position 8px 9px
        background-image url('img/renren-button-icon.png')
      
      .renren-button-text
        color darkgrey
        height 60px
        width 330px
        text-align center
        padding 9px 12px
        border-left 3px solid #DDD
        font-size 30px
        -webkit-box-sizing border-box
